.login-page {
    min-height: 80vh;
    background: #f5f5f5;
}

.text-orange {
    color: #f04e23;
}

.btn-orange {
    background-color: #f04e23;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
}

.btn-orange:hover {
    background-color: #d8431f;
    color: white;
}

.form-custom {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.login-line {
    width: 60px;
    height: 4px;
    background-color: #f04e23;
    border-radius: 2px;
}