.container{
    display: flex;
    justify-content: center;
}
.bread_crumb{
    background-color: #F5F5F5;
}
.nav-link span{
    transition: 0.5s;
}
.nav-link span:hover{
    padding: 0 5px;
    color: red;
}
.product-overview  img:hover{
    border: 1px solid red;
}
.product-overview  img{
    border: 1px solid wheat;
}
.product-description-more a{
    border: 1px solid black;
    text-decoration: underline;
    text-align: center;
    padding: 10px 20px;
}
.privilege{
    border: 1px dashed red;
}
legend{
    color: red;
}