<div class="main-header">
    <div class="container">
        <div class="row align-items-center py-3">
            <div class="col-12 col-lg-2 mb-3 mb-lg-0 text-center text-lg-start">
                <a href="#">
                    <img src="https://shopvnb.com/templates/vnb/img/logo.svg" alt="123" style="max-height: 40px;">
                </a>
            </div>

            <div
                class="col-12 col-lg-4 mb-3 mb-lg-0 d-none d-md-flex align-items-center justify-content-center justify-content-lg-start gap-4">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-headset info-icon"></i>
                    <div class="top-info-text">
                        Hotline: <span class="hotline-number">0968686868</span>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-location-dot info-icon"></i>
                    <div class="top-info-text">
                        Hệ thống cửa hàng
                    </div>
                </div>
            </div>

            <div class="col-8 col-md-6 col-lg-3">
                <form class="search-wrapper position-relative d-flex">
                    <input type="text" class="form-control border-0" placeholder="Tìm sản phẩm">
                    <button class="btn btn-link text-decoration-none shadow-none" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <div class="col-4 col-md-6 col-lg-3 d-flex justify-content-end gap-3 gap-lg-4">
                <a href="#" class="action-item d-none d-sm-flex">
                    <div class="action-icon-box">
                        <i class="fa-solid fa-binoculars"></i>
                    </div>
                    <span>Tra cứu</span>
                </a>

                <a href="accout.html" class="action-item d-none d-sm-flex">
                    <div class="action-icon-box">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <span>Tài khoản</span>
                </a>

                <a href="cart.html" class="action-item">
                    <div class="action-icon-box">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="cart-badge">0</span>
                    </div>
                    <span>Giỏ hàng</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="menu_chinh d-none d-lg-block">
    <div class="container">
        <ul class="nav justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="home.html">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="product_list.html">Sản phẩm <i class="fa-solid fa-chevron-down"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hướng dẫn <i class="fa-solid fa-chevron-down"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Liên hệ</a>
            </li>
        </ul>
    </div>
</div>